html {
  font-size: $baseFontSize;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 27px;
  padding: 0;
  margin: 0;
  & h1 {
    line-height: 72px;
  }
  & h2 {
    line-height: 54px;
  }
}
header {
  background-color: $black;
  text-align: center;
}
.wrapper {
  margin: 0 auto;
}
.main-box {
  margin: 0 auto;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1440px;
}

.br {
  display: block;
}
